body {
    margin: 20px;
    font-family: 'Roboto Condensed', sans-serif;
}
.container {
    box-shadow: 0 0 20px 2px;
    width: 90%;
    display: flex;
    margin: 0 auto;
}
.column-details {
    padding: 2em;
    background-color: rgba(184, 188, 190, 0.87);
    width: 30%;
}
.column-info {
    margin: 2em;
    border-left: 2px solid #5d5f5f;
    width: 70%;
}
.column-info section{
    padding-left: 30px;
    margin-bottom: 50px;
}
header img {
    height: 25vw;
    width: 25vw;
}
.name {
    font-size: 4vw;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: -0.05em;
    font-stretch: condensed;
}
.contacts {
    text-transform: uppercase;
    font-size: 1.5em;
}
.contacts * {
    margin: 3em 0;
    letter-spacing: -0.05em;
    font-stretch: condensed;
}
address {
    font-style: normal;
}
span {
    font-weight: bold;
}
.insta a {
    text-decoration: none;
    padding-bottom: 5px;
}
.insta * {
    margin-bottom: 0px;
    letter-spacing: -0.05em;
    font-stretch: condensed;
}
.insta {
    display: flex;
    align-items: flex-end
}
.line:before{
    content: " ";
    background: #5d5f5f;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: -38px;
}
dl {
    border-left: 1px solid #5d5f5f;
    padding-left: 2em;
}
dt {
    font-weight: bold;
}
.line-small{
    margin-top: 20px;
}
.organization {
    margin-top: 10px;
    font-weight:bold;
}
.line-small:before{
    content: " ";
    background: #5d5f5f;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    float: left;
    margin-top: 5px;
    margin-left: -36px;
}
.dots{
    content: " ";
    background: #000000;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 3px;
}
.dots-empty{
    content: " ";
    background: #ffffff;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    border: 1px solid #000000;
    margin: 3px;
}
.dot {
    display: flex;
}
.skill {
    display: flex;
    flex-wrap: unset;
}
h3 {
    flex:  0.5 0 0px;
    margin: 0 0 0 35px;
}
.images-hobbies{
    display: flex;
    flex-wrap: wrap;
}

/*Responsive*/
@media screen and (max-width: 768px){
    .container{
        display: block;
    }
    .column-details {
        width: auto;
    }
}
@media screen and (max-width: 576px){
    .skill{
        display: block;
    }
    .dot, h3 {
        margin-left: 20px;
    }
    .contacts{
        font-size: 1em;
    }
}
@media screen and (max-width: 288px){
    .dots, .dots-empty {
        width: 0.5em;
        height: 0.5em;
    }
    h3, dd {
        font-size: 0.8em;
    }
    dd, dt {
        margin-left: 0;
    }
    h1 {
        font-size: 1em;
    }
    .insta {
        display: block;
    }
}